---
title: "Leading SCM, CI and Code Review in one application"
author: "Itzik Gan-Baruch"
author_gitlab: iganbaruch
author_twitter: itzikgb
categories: unfiltered
image_title: '/images/blogimages/scm-ci-cr.png'
description: "The most important tools for developers are SCM, CI and Code Review, and it is better to have them all together."
tags: CI/CD, code review
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

GitLab enables streamlined CI, code reviews and collaboration at proven enterprise scale, making development workflows easier to manage and minimizing context switching required between tools in complex DevOps toolchains. Users can release software faster and outpace the competition with the ability to quickly respond to changes in the market.

Watch this short video (3 minutes) to see a demo of the seamless flow developers having when using SCM, CI and Code Review in GitLab.

<iframe width="560" height="315" src="https://www.youtube.com/embed/DvuqGA4FhXM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


Cover image by [NESA by Makers](https://unsplash.com/@nesabymakers) on [Unsplash](https://unsplash.com/)
{: .note}
