.container.text-center
  .row.u-margin-top-lg
    %h1 On Demand Session Guide
  .row.u-margin-bottom-lg
    .col-md-12
      -#%iframe{ src: 'https://gitlabcommitvirtual2020.sched.com/' }
      :css
        .image-link {
          border: 2px solid transparent;
        }
        .image-link:active,
        .image-link:focus,
        .image-link:hover {
          border-color: #554488;
          transform: scale(1.02);
        }
      = link_to "/images/events/gitlab-commit/virtual-commit-2020-tracks.pdf" do
        = image_tag "/images/events/gitlab-commit/virtual-commit-2020-tracks.png", class: "image-link"
        %br
        %span Download a copy of our 2020 On Demand Session Guide to find your favorite sessions by track
